$color-primary: #363002;
$color-primary-light: #5B6340;
$color-primary-dark: #260e04;

$color-secondary: #FEE89E;
$color-secondary-light: #F6F2E6;
$color-secondary-dark: #CBA716;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-gray-dark:#777;
$color-gray-dark-2:#999;
$color-gray-dark-3:#333;

$color-white:#fff;
$color-black:#000;

// Font
$font-primary: 'Noto Sans JP', sans-serif;
$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


$content-max-width: 128rem;
$content-min-height: 80vh;